VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL="https://rvckjegiqohgllpxwmfi.supabase.co/rest/v1/"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2Y2tqZWdpcW9oZ2xscHh3bWZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MjYwMDYsImV4cCI6MjA5NTEwMjAwNn0.wYjAW6Cdkr9SxOdKbe8rBRGjYd1IqCA5BMiyRzEG6GI"